<div class="d-flex flex-column flex-root">
    <div class="page d-flex flex-row flex-column-fluid">

        <app-user-sidebar></app-user-sidebar>

        <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
            <app-user-responsive-header></app-user-responsive-header>

            <app-user-header [PageTitle]="PageTitle" [PageDescription]="PageDescription" [PageBreadcrumb]="PageBreadcrumb"></app-user-header>

            <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
                <div class="container-xxl" id="kt_content_container">
                    <div class="row g-5 g-xl-8">
                        <div [ngClass]="['cr-forms', 'contractlabour', 'master'].includes(this.router.url.split('/')[2]) ? 'd-none' : 'col-xl-3'">
                            <div class="card" style="position: sticky; position: -webkit-sticky; top: 0;">
                                <div class="card-body p-0">
                                    <div class="card-px text-center py-5 my-10">
                                        <div class="symbol symbol-100px symbol-lg-160px symbol-fixed position-relative mb-10">
                                            <img *ngIf="userDetails?.profile_picture; else noImageBlock" src="{{ 'data:image/png;base64,' + userDetails.profile_picture }}" alt="image">
                                            <ng-template #noImageBlock>
                                                <div class="text-prof"><span>{{userDetails?.full_name[0] ?? 'U'}}</span></div>
                                            </ng-template>
                                        </div>
                                        <h2 class="fs-2x fw-bolder">{{userDetails?.full_name ?? 'N/A'}}</h2>
                                        <p class="text-gray-400 fs-4 fw-bold">Employee ID: {{userDetails?.employee_id ?? '-'}}</p>
                                        <!-- <hr> -->
                                        <!-- <p class="text-gray-400 fs-7 fw-bold mb-2">Cost Center: {{userDetails?.costcntr ?? '-'}}</p> -->
                                        <!-- <p class="text-blue fs-7 fw-bold mb-2">CLMS Nodal Security</p> -->
                                        <!-- <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#kt_modal_add_customer">Add Customer</a> -->
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="row">
                                        <div class="col-4 text-center">
                                            <a (click)="this.authService.userLogout()" routerLink="/user/profile"> <i class="fas fa-power-off"></i></a>
                                        </div>
                                        <div class="col-4 text-center">
                                            <a routerLink="/user/profile"> <i class="fas fa-user"></i></a>
                                        </div>
                                        <div class="col-4 text-center">
                                            <a routerLink="/user/attendance"><i class="fas fa-calendar"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div [ngClass]="['cr-forms', 'contractlabour', 'master'].includes(this.router.url.split('/')[2]) ? 'col-xl-12' : 'col-xl-9'">
                            <router-outlet></router-outlet>
                        </div>
                    </div>
                </div>
            </div>

            <app-user-footer></app-user-footer>
        </div>
    </div>
</div>

<div id="kt_scrolltop" class="scrolltop" data-kt-scrolltop="true">
    <span class="svg-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <rect opacity="0.5" x="13" y="6" width="13" height="2" rx="1" transform="rotate(90 13 6)" fill="black" />
            <path d="M12.5657 8.56569L16.75 12.75C17.1642 13.1642 17.8358 13.1642 18.25 12.75C18.6642 12.3358 18.6642 11.6642 18.25 11.25L12.7071 5.70711C12.3166 5.31658 11.6834 5.31658 11.2929 5.70711L5.75 11.25C5.33579 11.6642 5.33579 12.3358 5.75 12.75C6.16421 13.1642 6.83579 13.1642 7.25 12.75L11.4343 8.56569C11.7467 8.25327 12.2533 8.25327 12.5657 8.56569Z" fill="black" />
        </svg>
    </span>
</div>
