<div class="row g-5 g-xl-8">
    <div class="col-xl-3 mx-auto-none text-center">
        <div class="card card-stretch">
            <a routerLink="/admin/dashboard" class="btn btn-block btn-text-gray-800 btn-icon-gray-400 btn-active-color-primary bg-body flex-column justfiy-content-start align-items-start text-start w-100 p-10 text-center">
                <span class="svg-icon svg-icon-3x mb-5">
                  <img src="assets/images/icons/dashboard.png" alt="">
                </span>
                <p class="fs-4 fw-bolder mt-3 mb-0">Dashboard</p>
            </a>
        </div>
    </div>

    <div class="col-xl-3 mx-auto-none text-center">
        <div class="card card-stretch">
            <a routerLink="/admin/employees" class="btn btn-block btn-text-gray-800 btn-icon-gray-400 btn-active-color-primary bg-body flex-column justfiy-content-start align-items-start text-start w-100 p-10 text-center">
                <span class="svg-icon svg-icon-3x mb-5">
                <img src="assets/images/icons/profile-user.png" alt="">
              </span>
                <p class="fs-4 fw-bolder mt-3 mb-0">Employees</p>
            </a>
        </div>
    </div>

    <div class="col-xl-3 mx-auto-none text-center">
        <div class="card card-stretch">
            <a routerLink="/admin/contractlabour" class="btn btn-block btn-text-gray-800 btn-icon-gray-400 btn-active-color-primary bg-body flex-column justfiy-content-start align-items-start text-start w-100 p-10 text-center">
                <span class="svg-icon svg-icon-3x mb-5">
              <img src="assets/images/icons/group.png" alt="">
            </span>
                <p class="fs-4 fw-bolder mt-3 mb-0">CLMS</p>
            </a>
        </div>
    </div>

    <div class="col-xl-3 mx-auto-none text-center">
        <div class="card card-stretch">
            <a routerLink="/admin/attendance" class="btn btn-block btn-text-gray-800 btn-icon-gray-400 btn-active-color-primary bg-body flex-column justfiy-content-start align-items-start text-start w-100 p-10 text-center">
                <span class="svg-icon svg-icon-3x mb-5">
                  <img src="assets/images/icons/gas-station-attendant.png" alt="">
                </span>
                <p class="fs-4 fw-bolder mt-3 mb-0">Attendance</p>
            </a>
        </div>
    </div>

    <div class="col-xl-3 mx-auto-none text-center">
        <div class="card card-stretch">
            <a routerLink="/admin/raw-auth-logs" class="btn btn-block btn-text-gray-800 btn-icon-gray-400 btn-active-color-primary bg-body flex-column justfiy-content-start align-items-start text-start w-100 p-10 text-center">
                <span class="svg-icon svg-icon-3x mb-5">
                <img src="assets/images/icons/authentication.png" alt="">
              </span>
                <p class="fs-4 fw-bolder mt-3 mb-0">Raw Auth Logs</p>
            </a>
        </div>
    </div>

    <!-- <div class="col-xl-3 mx-auto-none text-center">
        <div class="card card-stretch">
            <a routerLink="/admin/attendance" class="btn btn-block btn-text-gray-800 btn-icon-gray-400 btn-active-color-primary bg-body flex-column justfiy-content-start align-items-start text-start w-100 p-10 text-center">
                <span class="svg-icon svg-icon-3x mb-5">
                  <img src="assets/images/icons/gas-station-attendant.png" alt="">
                </span>
                <p class="fs-4 fw-bolder mt-3 mb-0">Attendance</p>
            </a>
        </div>
    </div> -->

    <div class="col-xl-3 mx-auto-none text-center">
        <div class="card card-stretch">
            <a routerLink="/admin/terminals" class="btn btn-block btn-text-gray-800 btn-icon-gray-400 btn-active-color-primary bg-body flex-column justfiy-content-start align-items-start text-start w-100 p-10 text-center">
                <span class="svg-icon svg-icon-3x mb-5">
                <img src="assets/images/icons/biometric-recognition.png" alt="">
              </span>
                <p class="fs-4 fw-bolder mt-3 mb-0">Terminals</p>
            </a>
        </div>
    </div>

    <div class="col-xl-3 mx-auto-none text-center">
        <div class="card card-stretch">
            <a routerLink="/admin/terminal-groups" class="btn btn-block btn-text-gray-800 btn-icon-gray-400 btn-active-color-primary bg-body flex-column justfiy-content-start align-items-start text-start w-100 p-10 text-center">
                <span class="svg-icon svg-icon-3x mb-5">
                <img src="assets/images/icons/network.png" alt="">
              </span>
                <p class="fs-4 fw-bolder mt-3 mb-0">Terminal Grouping</p>
            </a>
        </div>
    </div>

    <div class="col-xl-3 mx-auto-none text-center">
        <div class="card card-stretch">
            <a routerLink="/admin/master/sub-areas" class="btn btn-block btn-text-gray-800 btn-icon-gray-400 btn-active-color-primary bg-body flex-column justfiy-content-start align-items-start text-start w-100 p-10 text-center">
                <span class="svg-icon svg-icon-3x mb-5">
              <img src="assets/images/icons/location-pointer.png" alt="">
            </span>
                <p class="fs-4 fw-bolder mt-3 mb-0">Sub Areas</p>
            </a>
        </div>
    </div>

    <!-- <div class="col-xl-3 mx-auto-none text-center">
        <div class="card card-stretch">
            <a routerLink="/admin/master/units" class="btn btn-block btn-text-gray-800 btn-icon-gray-400 btn-active-color-primary bg-body flex-column justfiy-content-start align-items-start text-start w-100 p-10 text-center">
                <span class="svg-icon svg-icon-3x mb-5">
              <img src="assets/images/icons/area-with-pins.png" alt="">
            </span>
                <p class="fs-4 fw-bolder mt-3 mb-0">Units</p>
            </a>
        </div>
    </div> -->

    <div class="col-xl-3 mx-auto-none text-center">
        <div class="card card-stretch">
            <a routerLink="/admin/master/departments" class="btn btn-block btn-text-gray-800 btn-icon-gray-400 btn-active-color-primary bg-body flex-column justfiy-content-start align-items-start text-start w-100 p-10 text-center">
                <span class="svg-icon svg-icon-3x mb-5">
              <img src="assets/images/icons/department.png" alt="">
            </span>
                <p class="fs-4 fw-bolder mt-3 mb-0">Departments</p>
            </a>
        </div>
    </div>

    <div class="col-xl-3 mx-auto-none text-center">
        <div class="card card-stretch">
            <a routerLink="/admin/master/designations" class="btn btn-block btn-text-gray-800 btn-icon-gray-400 btn-active-color-primary bg-body flex-column justfiy-content-start align-items-start text-start w-100 p-10 text-center">
                <span class="svg-icon svg-icon-3x mb-5">
              <img src="assets/images/icons/settings.png" alt="">
            </span>
                <p class="fs-4 fw-bolder mt-3 mb-0">Designations</p>
            </a>
        </div>
    </div>

    <div class="col-xl-3 mx-auto-none text-center">
        <div class="card card-stretch">
            <a routerLink="/admin/master/shift-timings" class="btn btn-block btn-text-gray-800 btn-icon-gray-400 btn-active-color-primary bg-body flex-column justfiy-content-start align-items-start text-start w-100 p-10 text-center">
                <span class="svg-icon svg-icon-3x mb-5">
            <img src="assets/images/icons/shift.png" alt="">
          </span>
                <p class="fs-4 fw-bolder mt-3 mb-0">Shift Timings</p>
            </a>
        </div>
    </div>

    <div class="col-xl-3 mx-auto-none text-center">
        <div class="card card-stretch">
            <a routerLink="/admin/master/contactors" class="btn btn-block btn-text-gray-800 btn-icon-gray-400 btn-active-color-primary bg-body flex-column justfiy-content-start align-items-start text-start w-100 p-10 text-center">
                <span class="svg-icon svg-icon-3x mb-5">
                  <img src="assets/images/icons/company.png" alt="">
                </span>
                <p class="fs-4 fw-bolder mt-3 mb-0">Contractors</p>
            </a>
        </div>
    </div>

    <div class="col-xl-3 mx-auto-none text-center">
        <div class="card card-stretch">
            <a routerLink="/admin/master/purchase-orders" class="btn btn-block btn-text-gray-800 btn-icon-gray-400 btn-active-color-primary bg-body flex-column justfiy-content-start align-items-start text-start w-100 p-10 text-center">
                <span class="svg-icon svg-icon-3x mb-5">
                  <img src="assets/images/icons/shopping-bag.png" alt="">
                </span>
                <p class="fs-4 fw-bolder mt-3 mb-0">Purchase Orders</p>
            </a>
        </div>
    </div>

    <div class="col-xl-3 mx-auto-none text-center">
        <div class="card card-stretch">
            <a routerLink="/admin/cr-forms/mis-docs" class="btn btn-block btn-text-gray-800 btn-icon-gray-400 btn-active-color-primary bg-body flex-column justfiy-content-start align-items-start text-start w-100 p-10 text-center">
                <span class="svg-icon svg-icon-3x mb-5">
                  <img src="assets/images/icons/google-docs.png" alt="">
                </span>
                <p class="fs-4 fw-bolder mt-3 mb-0">MIS</p>
            </a>
        </div>
    </div>

    <div class="col-xl-12 mx-auto-none text-center">
        <hr>
        <h3 class="text-uppercase">CR Forms</h3>
    </div>

    <div class="col-xl-3 mx-auto-none text-center">
        <div class="card card-stretch">
            <a routerLink="/admin/cr-forms/demog-master" class="btn btn-block btn-text-gray-800 btn-icon-gray-400 btn-active-color-primary bg-body flex-column justfiy-content-start align-items-start text-start w-100 p-10 text-center">
                <span class="svg-icon svg-icon-3x mb-5">
                  <img src="assets/images/icons/contact-form.png" alt="">
                </span>
                <p class="fs-4 fw-bolder mt-3 mb-0">Demog Master</p>
            </a>
        </div>
    </div>

    <div class="col-xl-3 mx-auto-none text-center">
        <div class="card card-stretch">
            <a routerLink="/admin/cr-forms/demog-group" class="btn btn-block btn-text-gray-800 btn-icon-gray-400 btn-active-color-primary bg-body flex-column justfiy-content-start align-items-start text-start w-100 p-10 text-center">
                <span class="svg-icon svg-icon-3x mb-5">
                  <img src="assets/images/icons/contact-form.png" alt="">
                </span>
                <p class="fs-4 fw-bolder mt-3 mb-0">Demog Groups</p>
            </a>
        </div>
    </div>

    <div class="col-xl-3 mx-auto-none text-center">
        <div class="card card-stretch">
            <a routerLink="/admin/cr-forms/crgroup-master" class="btn btn-block btn-text-gray-800 btn-icon-gray-400 btn-active-color-primary bg-body flex-column justfiy-content-start align-items-start text-start w-100 p-10 text-center">
                <span class="svg-icon svg-icon-3x mb-5">
                  <img src="assets/images/icons/contact-form.png" alt="">
                </span>
                <p class="fs-4 fw-bolder mt-3 mb-0">CR Group Master</p>
            </a>
        </div>
    </div>

    <div class="col-xl-3 mx-auto-none text-center">
        <div class="card card-stretch">
            <a routerLink="/admin/cr-forms/list" class="btn btn-block btn-text-gray-800 btn-icon-gray-400 btn-active-color-primary bg-body flex-column justfiy-content-start align-items-start text-start w-100 p-10 text-center">
                <span class="svg-icon svg-icon-3x mb-5">
                  <img src="assets/images/icons/registration.png" alt="">
                </span>
                <p class="fs-4 fw-bolder mt-3 mb-0">CR Forms</p>
            </a>
        </div>
    </div>    
</div>