<!DOCTYPE html>
<html lang="en">
<head>
  <title>User Detail</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <div class="jumbotron">
        <h2 >User Details</h2>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Name</th>
                <th>Designation</th>
                <th>Aadhaar Card no</th>
            </tr>
            </thead>
            <tbody>
            
            <tr class="info">
                <td>{{data.name}}</td>
                <td>{{data.designation}}</td>
                <td>{{data.id}}</td>
            </tr>
            
            </tbody>
        </table>
    </div>
</div>

</body>
</html>

