<div class="card">
    <div class="card-header">
        <div class="card-title m-0">
            <h3 class="fw-bolder m-0">
                Quick Links
            </h3>
        </div>
        <div class="card-toolbar">

        </div>
    </div>
    <div class="card-body p-0">
        <div class="card-px text-center py-5 my-5">
            <div class="row g-5 g-xl-8">
                <div class="col-6 col-lg-3 mx-auto-none text-center">
                    <div class="card card-stretch gridcard">
                        <a routerLink="/user/dashboard"
                            class="btn btn-block btn-text-gray-800 btn-icon-gray-400 btn-active-color-primary bg-body flex-column justfiy-content-start align-items-start text-start w-100 p-10 text-center">
                            <span class="svg-icon svg-icon-3x mb-5">
                                <img src="assets/images/icons/dashboard.png" alt="">
                            </span>
                            <p class="fs-4 fw-bolder mt-3 mb-0">Dashboard</p>
                        </a>
                    </div>
                </div>

                <div class="col-6 col-lg-3 mx-auto-none text-center">
                    <div class="card card-stretch gridcard">
                        <a routerLink="/user/profile"
                            class="btn btn-block btn-text-gray-800 btn-icon-gray-400 btn-active-color-primary bg-body flex-column justfiy-content-start align-items-start text-start w-100 p-10 text-center">
                            <span class="svg-icon svg-icon-3x mb-5">
                                <img src="assets/images/icons/profile-user.png" alt="">
                            </span>
                            <p class="fs-4 fw-bolder mt-3 mb-0">Edit Profile</p>
                        </a>
                    </div>
                </div>

                <div class="col-6 col-lg-3 mx-auto-none text-center">
                    <div class="card card-stretch gridcard">
                        <a routerLink="/user/attendance"
                            class="btn btn-block btn-text-gray-800 btn-icon-gray-400 btn-active-color-primary bg-body flex-column justfiy-content-start align-items-start text-start w-100 p-10 text-center">
                            <span class="svg-icon svg-icon-3x mb-5">
                                <img src="assets/images/icons/gas-station-attendant.png" alt="">
                            </span>
                            <p class="fs-4 fw-bolder mt-3 mb-0">Attendance</p>
                        </a>
                    </div>
                </div>

                <div class="col-6 col-lg-3 mx-auto-none text-center">
                    <div class="card card-stretch gridcard">
                        <a routerLink="/user/cr-forms/list"
                            class="btn btn-block btn-text-gray-800 btn-icon-gray-400 btn-active-color-primary bg-body flex-column justfiy-content-start align-items-start text-start w-100 p-10 text-center">
                            <span class="svg-icon svg-icon-3x mb-5">
                                <img src="assets/images/icons/registration.png" alt="">
                            </span>
                            <p class="fs-4 fw-bolder mt-3 mb-0">CR Forms</p>
                        </a>
                    </div>
                </div>

                <div class="col-6 col-lg-3 mx-auto-none text-center">
                    <div class="card card-stretch gridcard">
                        <a routerLink="/user/cr-forms/mis-docs"
                            class="btn btn-block btn-text-gray-800 btn-icon-gray-400 btn-active-color-primary bg-body flex-column justfiy-content-start align-items-start text-start w-100 p-10 text-center">
                            <span class="svg-icon svg-icon-3x mb-5">
                                <img src="assets/images/icons/google-docs.png" alt="">
                            </span>
                            <p class="fs-4 fw-bolder mt-3 mb-0">MIS</p>
                        </a>
                    </div>
                </div>

                <div class="col-6 col-lg-3 mx-auto-none text-center">
                    <div class="card card-stretch gridcard">
                        <a routerLink="/user/contractlabour"
                            class="btn btn-block btn-text-gray-800 btn-icon-gray-400 btn-active-color-primary bg-body flex-column justfiy-content-start align-items-start text-start w-100 p-10 text-center">
                            <span class="svg-icon svg-icon-3x mb-5">
                                <img src="assets/images/icons/group.png" alt="">
                            </span>
                            <p class="fs-4 fw-bolder mt-3 mb-0">CLMS</p>
                        </a>
                    </div>
                </div>

                <div class="col-6 col-lg-3 mx-auto-none text-center">
                    <div class="card card-stretch gridcard">
                        <a routerLink="/user/master/contactors"
                            class="btn btn-block btn-text-gray-800 btn-icon-gray-400 btn-active-color-primary bg-body flex-column justfiy-content-start align-items-start text-start w-100 p-10 text-center">
                            <span class="svg-icon svg-icon-3x mb-5">
                                <img src="assets/images/icons/company.png" alt="">
                            </span>
                            <p class="fs-4 fw-bolder mt-3 mb-0">Contractors</p>
                        </a>
                    </div>
                </div>

                <div class="col-6 col-lg-3 mx-auto-none text-center">
                    <div class="card card-stretch gridcard">
                            <button class="btn btn-block btn-text-gray-800 btn-icon-gray-400 btn-active-color-primary bg-body flex-column justfiy-content-start align-items-start text-start w-100 p-10 text-center" data-toggle="modal" data-target="#employeeModal">
                            <span class="svg-icon svg-icon-3x mb-5">
                                <img src="assets/images/icons/download.png" alt="">
                            </span>
                            <p class="fs-4 fw-bolder mt-3 mb-0">Employee Details</p>
                     </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade right" id="employeeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info ">
                <h5 class="modal-title" id="modalLabel">Employee Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]= 'formValue'>
                    <div class="form-group " >
                        <label for="employeeId"><strong>Employee ID</strong> </label>
                        <input type="text" class="form-control" id="employeeId" aria-describedby="id" formControlName="employeeId" placeholder="Enter Employee ID" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer bg-info">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="emptyModal()">Close</button>
                <button type="button" class="btn btn-primary"  data-dismiss="modal" (click)= "goToDetailsPage()">OK</button>
            </div>
        </div>
        
    </div>
</div>



<app-print-pdf-dialog *ngIf="status"></app-print-pdf-dialog>