a.btn .svg-icon img {
    filter: brightness(0) invert(0) !important;
}

a.btn:hover .svg-icon img {
    filter: none !important;
}

.gridcard {
    border: none !important;
    box-shadow: none !important;
}

h5{
    color: antiquewhite;
}