.finger-box {
    text-align: center;
    border: 1px solid;
    padding: 10px;
    width: 45px;
    position: absolute;
    background-color: white;
    cursor: pointer;
    border-radius: 30%;
}

.finger-box.registered {
    /* cursor: not-allowed; */
    cursor: url('../../../../assets/images/icons/remove.png'), auto;
    color: white;
    background: #50cd89;
    border-color: #50cd89;
}

.finger-box.registered i {
    color: white;
}

.finger-box.selected {
    background: #009ef7;
    color: white;
    border-color: #009ef7;
}


/* Individual Item CSS */

.finger-box.item-1 {
    right: 350px;
    top: 182px;
}

.finger-box.item-2 {
    right: 215px;
}

.finger-box.item-3 {
    right: 115px;
    top: 5px;
}

.finger-box.item-4 {
    right: 50px;
    top: 50px;
}

.finger-box.item-5 {
    right: 10px;
    top: 130px;
}

.finger-box.item-6 {
    left: 345px;
    top: 182px;
}

.finger-box.item-7 {
    left: 215px;
}

.finger-box.item-8 {
    left: 115px;
    top: 5px;
}

.finger-box.item-9 {
    left: 50px;
    top: 50px;
}

.finger-box.item-10 {
    left: 10px;
    top: 130px;
}

.box.dragger-box {
    border: 1px solid #c8c8c8;
    border-radius: 5px;
    /* padding: 20px; */
    min-height: 250px;
    background: #f6f6f6;
}

.box.dragger-box .card {
    background: #2c9dff;
    border-radius: 0;
    padding: 10px;
    margin: 10px;
    text-align: center;
    border: 1px solid #000000;
    cursor: move;
}