<div class="d-flex flex-column flex-root">
    <div class="d-flex flex-column flex-column-fluid bgi-position-y-bottom position-x-center bgi-no-repeat bgi-size-contain bgi-attachment-fixed" style="background-image: url(assets/images/auth-bg.png)">

        <router-outlet></router-outlet>

        <div class="d-flex flex-center flex-column-auto p-10">
            <div class="d-flex align-items-center fw-bold fs-6">
                <!-- <a href="javascript:;" class="text-muted text-hover-primary px-2">Privacy Policy</a>
                <a href="javascript:;" class="text-muted text-hover-primary px-2">Terms & Condition</a>
                <a href="javascript:;" class="text-muted text-hover-primary px-2">Contact Us</a> -->

                <span class="text-gray-400 fw-bold me-1">Copyright © {{ currentYear }} | All Rights Reserved</span>
            </div>
        </div>
    </div>
</div>
