<div class="card">
    <div class="card-header">
        <div class="card-title m-0">
            <h3 class="fw-bolder m-0">
                Change Password
            </h3>
        </div>
        <div class="card-toolbar">

        </div>
    </div>
    <form class="form" [formGroup]="passwordUpdateForm">
        <div class="card-body p-0">
            <div class="card-px py-5 my-5">
                <!-- <div class="row mb-6">
                    <label class="col-lg-4 col-form-label required fw-bold fs-6">Current Password</label>
                    <div class="col-lg-8 fv-row">
                        <input type="password" formControlName="current_password" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" placeholder="Enter Current Password" [class.is-invalid]="( passwordUpdateForm.controls.current_password.dirty || passwordUpdateForm.controls.current_password.touched )">
                    </div>

                    <div class="fv-plugins-message-container invalid-feedback" *ngIf="passwordUpdateForm.controls.current_password.hasError('required') && ( passwordUpdateForm.controls.current_password.dirty || passwordUpdateForm.controls.current_password.touched )">
                        <div>The password field is required</div>
                    </div>

                    <div class="fv-plugins-message-container invalid-feedback" *ngIf="passwordUpdateForm.controls.current_password.hasError('pattern') && ( passwordUpdateForm.controls.current_password.dirty || passwordUpdateForm.controls.current_password.touched )">
                        <div>The password should only contains numeric value</div>
                    </div>

                    <div class="fv-plugins-message-container invalid-feedback" *ngIf="passwordUpdateForm.controls.current_password.hasError('minlength') && ( passwordUpdateForm.controls.current_password.dirty || passwordUpdateForm.controls.current_password.touched )">
                        <div>The password should be of minimum 8 characters</div>
                    </div>

                    <div class="fv-plugins-message-container invalid-feedback" *ngIf="passwordUpdateForm.controls.current_password.hasError('maxlength') && ( passwordUpdateForm.controls.current_password.dirty || passwordUpdateForm.controls.current_password.touched )">
                        <div>The password should be of maximum 20 characters</div>
                    </div>
                </div> -->

                <div class="row mb-6">
                    <label class="col-lg-4 col-form-label required fw-bold fs-6">New Password</label>
                    <div class="col-lg-8 fv-row">
                        <input type="password" formControlName="new_password" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" placeholder="Enter New Password" [class.is-invalid]="( passwordUpdateForm.controls.new_password.dirty || passwordUpdateForm.controls.new_password.touched )">

                        <div class="fv-plugins-message-container invalid-feedback" *ngIf="passwordUpdateForm.controls.new_password.hasError('required') && ( passwordUpdateForm.controls.new_password.dirty || passwordUpdateForm.controls.new_password.touched )">
                            <div>The password field is required</div>
                        </div>

                        <div class="fv-plugins-message-container invalid-feedback" *ngIf="passwordUpdateForm.controls.new_password.hasError('pattern') && ( passwordUpdateForm.controls.new_password.dirty || passwordUpdateForm.controls.new_password.touched )">
                            <div>The password should only contains numeric value</div>
                        </div>

                        <div class="fv-plugins-message-container invalid-feedback" *ngIf="passwordUpdateForm.controls.new_password.hasError('minlength') && ( passwordUpdateForm.controls.new_password.dirty || passwordUpdateForm.controls.new_password.touched )">
                            <div>The password should be of minimum 8 characters</div>
                        </div>

                        <div class="fv-plugins-message-container invalid-feedback" *ngIf="passwordUpdateForm.controls.new_password.hasError('maxlength') && ( passwordUpdateForm.controls.new_password.dirty || passwordUpdateForm.controls.new_password.touched )">
                            <div>The password should be of maximum 20 characters</div>
                        </div>
                    </div>
                </div>

                <div class="row mb-6">
                    <label class="col-lg-4 col-form-label required fw-bold fs-6">Confirm New Password</label>
                    <div class="col-lg-8 fv-row">
                        <input type="password" formControlName="new_password_confirmation" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" placeholder="Re-enter New Password" [class.is-invalid]="( passwordUpdateForm.controls.new_password_confirmation.dirty || passwordUpdateForm.controls.new_password_confirmation.touched )">

                        <div class="fv-plugins-message-container invalid-feedback" *ngIf="passwordUpdateForm.controls.new_password_confirmation.hasError('required') && ( passwordUpdateForm.controls.new_password_confirmation.dirty || passwordUpdateForm.controls.new_password_confirmation.touched )">
                            <div>The password field is required</div>
                        </div>

                        <div class="fv-plugins-message-container invalid-feedback" *ngIf="passwordUpdateForm.controls.new_password_confirmation.hasError('pattern') && ( passwordUpdateForm.controls.new_password_confirmation.dirty || passwordUpdateForm.controls.new_password_confirmation.touched )">
                            <div>The password should only contains numeric value</div>
                        </div>

                        <div class="fv-plugins-message-container invalid-feedback" *ngIf="passwordUpdateForm.controls.new_password_confirmation.hasError('minlength') && ( passwordUpdateForm.controls.new_password_confirmation.dirty || passwordUpdateForm.controls.new_password_confirmation.touched )">
                            <div>The password should be of minimum 8 characters</div>
                        </div>

                        <div class="fv-plugins-message-container invalid-feedback" *ngIf="passwordUpdateForm.controls.new_password_confirmation.hasError('maxlength') && ( passwordUpdateForm.controls.new_password_confirmation.dirty || passwordUpdateForm.controls.new_password_confirmation.touched )">
                            <div>The password should be of maximum 20 characters</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer d-flex justify-content-end py-6 px-9">
            <button type="button" class="btn btn-light btn-active-light-primary me-2" (click)="Global.resetForm(this.passwordUpdateForm)">Discard</button>

            <button type="submit" class="btn btn-primary" (click)="updateAccountPassword($event)">
                <span class="indicator-label">Change Password</span>
                <span class="indicator-progress">Please wait...
                <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
            </button>
        </div>
    </form>
</div>