<div class="card mb-5 mb-xl-10" id="demoggroup-view-section">
    <div class="card-header border-0">
        <div class="card-title m-0">
            <h3 class="fw-bolder m-0">All Demog Groups</h3>
        </div>
        <div class="card-toolbar">
            <div class="d-flex">
                <form (submit)="fetch(1)" class="mx-1">
                    <div class="input-group mx-1">
                        <input id="table-search" type="text" class="form-control" placeholder="Search...">                        
                        <div class="input-group-append">
                            <button class="input-group-text" type="submit"><i class="fa fa-search" style="padding: 4px;"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="card-body border-top p-9">
        <div class="table-processing" style="display: none;">
            <span class="">Loading...<span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
        </div>

        <table class="table table-striped table-row-bordered gy-5 gs-7">
            <thead>
                <tr class="fw-bold fs-6 text-gray-800">
                    <th>#</th>
                    <th>Name</th>
                    <th>Demog Count</th>
                    <th>Last Updated</th>
                    <!-- <th>Current Status</th> -->
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngIf="demoggroups.length > 0; else noDemogGroupRecordsFound">
                    <tr *ngFor="let item of demoggroups; let i = index">
                        <td>{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.Demog_list ?? 0}}</td>
                        <td>
                            <ng-container *ngIf="item.updated_at; else createDateBlock">
                                {{item.updated_at | date}}
                            </ng-container>
                            <ng-template #createDateBlock>
                                <ng-container *ngIf="item.created_at">
                                    {{item.created_at | date}}
                                </ng-container>
                            </ng-template>
                        </td>
                        <!-- <td>
                            <div class="form-check form-check-solid form-switch fv-row">
                                <input (click)="changeStatus(item)" class="form-check-input w-45px h-30px" type="checkbox" [attr.checked]="item.status == 'active' ? 'checked' : null" />
                                <label class="form-check-label" for="allowmarketing"></label>
                            </div>
                        </td> -->
                        <td class="text-center">
                            <a class="btn btn-sm btn-dark mx-1" routerLink="/admin/cr-forms/demog-group/assign-master/{{item.id}}"><i class="fa fa-terminal"></i>&nbsp;Assign Demog</a>
                            <button class="btn btn-sm btn-info mx-1" (click)="getEdit(item)"><i class="fa fa-edit"></i>&nbsp;Edit</button>
                            <!-- <button class="btn btn-sm btn-danger mx-1" (click)="deleteItem(item)"><i class="fa fa-trash"></i>&nbsp;Delete</button> -->
                        </td>
                    </tr>
                </ng-container>

                <ng-template #noDemogGroupRecordsFound>
                    <tr>
                        <td colspan="100%" class="text-center">No Records Found</td>
                    </tr>
                </ng-template>
            </tbody>
        </table>

        <app-pagination [rows]="demoggroups" [tableOptions]="tableOptions" (onPrevPageClicked)="fetch(tableOptions.page - 1)" (onNextPageClicked)="fetch(tableOptions.page + 1)"></app-pagination>
    </div>
</div>

<div class="card mb-5 mb-xl-10" id="demoggroup-submit-section">
    <div class="card-header border-0">
        <div class="card-title m-0">
            <h3 class="fw-bolder m-0" *ngIf="editActionId == ''; else editHeader">Add New Demog Group</h3>
            <ng-template #editHeader>
                <h3 class="fw-bolder m-0">Edit Demog Group</h3>
            </ng-template>
        </div>
    </div>

    <form class="form" [formGroup]="demogGroupForm">
        <div class="card-body border-top p-9">
            <div class="row mb-6">
                <label class="col-lg-4 col-form-label required fw-bold fs-6">Name</label>
                <div class="col-lg-8 fv-row">
                    <input type="text" formControlName="name" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" placeholder="Enter Demog Group Name" [class.is-invalid]="( demogGroupForm.controls.name.dirty || demogGroupForm.controls.name.touched )">
                    <div class="fv-plugins-message-container invalid-feedback" *ngIf="demogGroupForm.controls.name.hasError('required') && ( demogGroupForm.controls.name.dirty || demogGroupForm.controls.name.touched )">
                        <div>The demog group name field is required</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-footer d-flex justify-content-end py-6 px-9">
            <button type="button" (click)="this.cancelSubmit()" class="btn btn-light btn-active-light-primary me-2">Discard</button>

            <button type="submit" (click)="add($event)" class="btn btn-primary" *ngIf="editActionId == ''; else editButtonSection">
                <span class="indicator-label">Add Demog Group</span>
                <span class="indicator-progress">Please wait...
                <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
            </button>

            <ng-template #editButtonSection>
                <button type="submit" (click)="edit($event)" class="btn btn-primary">
                    <span class="indicator-label">Save Changes</span>
                    <span class="indicator-progress">Please wait...
                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                </button>
            </ng-template>
        </div>
    </form>
</div>